
*
	{
		/*border:2px solid red;*/
		margin: 0;
	}

.name
	{
		font-family: 'Mr Dafoe', cursive;
		font-size:8em;
		color: black;
		height: 200px;
		padding: 1px;
	}


a
	{
		color: black;
		text-decoration: none;
		font-family: Bookman Old Style;
		padding: 5px;
		text-align: right;
		font-size: 20px;
		box-sizing: border-box;
	}


header
	{
		opacity: 10px;
		text-align: center;
	}

body
	{
		background-image: url("../image/bg.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
.container
	{
		margin-left: 40px;
		display: flex;
		justify-content: center;
		font-family: Times New Roman;
		font-size: 25px;
		width: 85%;
/*		height: 850px;*/
		align-content: center;
		
	}


.paragraph
	{	
	margin: 0 20px;
	padding:40px;
	line-height: 1.5;
/*	border: 3px solid black;*/
	border-radius: 20px;
	width:27%;
	height: 85%;
	}

.center
	{
		width: 500px;
	}

.center img{
	width: 100%;
	border-radius: 20px;
	height: 800px;
}












